* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.gamebtn {
    width: 30%;
    height: 30%;
    padding: 10%;
    border-radius: 5px;
    border: black 2px solid;
    margin: auto 10%;
    margin-top: 3rem;
    text-align: center !important;
    color: white;
}

.gm1 {
    background-color: rgb(12, 118, 189);
}
.gm2 {
    background-color: rgb(88, 190, 3);
}
.gm3 {
    background-color: rgb(196, 119, 4);
}
.gm4 {
    background-color: rgb(22, 7, 224);
}
.gm5 {
    background-color: rgb(15, 82, 1);
}
.gm6 {
    background-color: rgb(53, 151, 122);
}