
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
	width: 100%;
	height: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
	/*background-color: rgb(197, 197, 197);*/
    scroll-behavior: smooth;
}
.navbar{
	padding: 0.5rem;
}
.navbar-nav li{
    padding-right: 15px;
}
.nav-link:hover::first-letter{
	border-bottom: chocolate 2px solid;
}
.carousel-inner .carousel-item img{
    height: 80vh;
    width: 100%;
}
.carousel-caption{
    position: absolute;
    top: 70%;
    transform: translateY(-70%);
}
.carousel-caption h2{
    font-size: 200%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
    font-weight: bold;
}
.carousel-caption button{
	border: none;
	padding: 0.4rem 1rem;
	border-radius: 15px;
	background-color: rgb(56, 56, 141);
	color: white;
}
.carousel-caption button:hover{
	background-color: blue;
}

.cardone {
    width: 80%;
    height: 30hv;
    margin: auto;
    margin-top: 4rem;
    color: wheat;
}

.card .description {
    background-color: rgb(40, 132, 175);
}

.latest {
    text-align: center;
    margin-top: 2rem;
    text-decoration: underline;
    font-weight: bold;
    line-height: 2rem;
}

.card {
    width: 80%;
    height: 30hv;
    margin: auto;
    margin-top: 4rem;
    color: wheat;
}

.card .col-md-8 {
    color: #000;
}

.content {
    color: #000;
}

.more {
    margin-top: 1rem;
    text-align: center;
}

footer{
    background-color: #181818;
}
footer h5, p{
    color: blanchedalmond;
    /*text-align: center;*/
}
.fa-facebook, .fa-youtube, .fa-telegram{
    color: gray;
    padding-right: 2rem;
    font-size: 25px;
    padding-left: 2rem;
}

.fa-facebook:hover {
    color: blue;
}
.fa-youtube:hover {
    color: red;
}
.fa-telegram:hover {
    color: rgb(9, 65, 82);
}